BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0
BreakBeforeBraces: Allman
PointerAlignment: Right
ReferenceAlignment: Right
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: false
IndentCaseLabels: false
NamespaceIndentation: None
AccessModifierOffset: -4
